* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(MonumentGrotesk-Regular.otf);
}

@font-face {
    font-family: MonumentGrotesk-Italic;
    src: url(MonumentGrotesk-Italic.otf);
}

a {
    text-decoration: none;
    color: #000;
}

body {
    padding: 20px;
    height: 100vh;
    font-family: MonumentGrotesk;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}   

h1 {
    font-weight: 500;
}

#canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#potato {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#potato-img {
    width: 200px;
}

button {
    position: absolute;
    font-family: MonumentGrotesk;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    background-color: transparent;
    padding: 0.2em; 
}

#button-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.italic {
    font-family: MonumentGrotesk-Italic;
}

#potato-lan, #potahto-lan {
    /* border: 1px solid black; */
    padding: 0.2em;
    font-size: 2em;
}

.potahto-img {
    width: 250px;
    position: absolute;
}

.potahto-img-1 {
    top: 100px;
    left: 140px;
}

.potahto-img-2 {
    top: 500px;
    left: 540px;
}

a:hover {
    cursor:pointer;
    box-shadow: 2px 2px 4px black;
}

@media only screen and (min-width: 768px) {
    #potato-img {
        width: 400px;
    }
}
